table {
    font-size: 12px;
}

.transcript {
    font: 11px monospace;
}

.transcript .meeting-date {
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;

}

.transcript p {
    margin: 4px 0;
    padding: 0;
}

.note .timestamp {
    color: #a0a0a0;
    font-size: 0.7em;
    font-style: italic;
    padding-left: 10px;
}
