{% extends "bootstrap_base.html" %}

{% block style %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='bot.css') }}">
{% endblock %}

{% block body_content %}
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="brand" href="{{ url_for('index') }}">PCBot</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li><a href="{{ url_for('talk_list') }}">Talks</a></li>
            <li><a href="{{ url_for('meeting_list') }}">Kittendome meetings</a></li>
            <li><a href="{{ url_for('thunderdome_group_list') }}">Thunderdome groups</a></li>
            {% if user_is_superuser %}
                <li><a href="{{ url_for('manage_thunderdome') }}">Manage Thunderdome</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>

  {% block container %}
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  {% endblock %}
{% endblock %}
