{% extends "base.html" %}

{% macro pct(n) -%}
  {{ "%.0f"|format(n*100) }}%
{%- endmacro %}

{% block style %}
  {{ super() }}
  <style type="text/css">
    h3 {
        margin-top: 1em;
        margin-bottom: -1em;
    }
    #c { height: 300px; }
  </style>
{% endblock %}

{% block title %}PCbot{% endblock %}

{% block content %}
  <div class="hero-unit">
    <h1>Hello!</h1>
    {% if kittendome_complete %}
      <p>
        <b>Kittendome is complete:</b> {{reviewed}} talks reviewed;
        {{accepted}} talks accepted ({{ pct(percent_accepted) }});
        {{rejected}} talks rejected ({{ pct(percent_rejected) }}).
      </p>
      <p>
        <b>Thunderdome in progress:</b> {{groups_reviewed}}/{{groups_total}}
        groups reviewed ({{pct(groups_reviewed_percent)}});
        {% with td = thunderdome_results %}
          {{ td.accepted.count }} talks accepted ({{ pct(td.accepted.percent) }});
          {{ td.damaged.count }} talks damaged ({{ pct(td.damaged.percent) }});
          {{ td.rejected.count }} talks rejected ({{ pct(td.rejected.percent) }}).
        {% endwith %}
      </p>
    {% else %}
      <p>
        <b>Kittendome in progress:</b> {{reviewed}}/{{total}}
        talks reviewed ({{ pct(percent_reviewed) }});
        {{accepted}} talks accepted ({{ pct(percent_accepted) }});
        {{rejected}} talks rejected ({{ pct(percent_rejected) }}).
        {{number_of_meetings}} kittendome sessions held so far, on average
        {{"%.2f"|format(talks_per_meeting)}} talks per meeting. In theory,
        {{meetings_left}} kittendome meetings remain.
      </p>
    {% endif %}
    <h3>Talks by status</h3>
    <div id="c"></div>
  </div>
{% endblock %}


{% block bootstrap_js_bottom %}
  {{ super() }}
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">
    google.load("visualization", "1", {packages: ["corechart"]});
    google.setOnLoadCallback(function() {
        var chart = new google.visualization.BarChart(document.getElementById('c'));
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Status');
        data.addColumn('number', 'Count');
        data.addRows({{ talks_by_status_json|safe }});
        var options = {legend: {position: 'none'}, backgroundColor: "transparent", hAxis: {baseline: 0}};
        chart.draw(data, options);
    });
  </script>
{% endblock %}
