{% extends "base.html" %}

{% block style %}
  {{ super() }}
  <style type="text/css">
    .talk-table { table-layout: fixed; }
    .talk-table td { cursor: default; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
    .table.talk-table tr.selected td { background-color: #D9EDF7; }
    #groups ul h5 { margin:0; padding: 1px; font-size: 14px; }
    #groups ul h5 input { border: 0px none; margin:0; padding:2px; width: 80%; box-shadow: none; }
    #groups ul h5 input:focus { background-color: #D9EDF7; }
    #groups ul li { margin-bottom: 10px; }
    #groups table { margin: 2px 0 0 0; }
    #groups table td { border: 0px none; }
  </style>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="span7" id="talks">
      <h3>Ungrouped talks <small>click to select</small></h3>
      <table class="talk-table table table-condensed table-striped">
      </table>
    </div>

    <div class="span5" id="groups">
      <h3>Groups <small>use <b>+</b> buttons to add selected talks to groups</small></h3>
      <p><button id="new-group" class="btn btn-block"><i class="icon-plus"></i> Add selected talks to new group</button></p>
      <ul class="thumbnails">
      </ul>
    </div>
  </div>

{% endblock content %}

{% block bootstrap_js_bottom %}
  {{ super() }}
  <script type="text/javascript" src="{{ url_for('static', filename='json2-min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='underscore-min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='backbone-min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='tdome-groups.js') }}"></script>
  <script type="text/template" id="talk-row-template">
    <td>#<%= talk_id %>: <%= title %></td>
  </script>
  <script type="text/template" id="group-row-template">
      <div class="thumbnail clearfix">
        <div class="pull-right">
          <button class="btn btn-mini add-talks"><i class="icon-plus"></i></button>
          <button class="btn btn-mini remove-group"><i class="icon-remove"></i></button>
        </div>
        <h5><input type="text" value="<%= name %>"></h5>
        <table class="talk-table table table-condensed"></table>
      </div>
  </script>
{% endblock %}

