{% extends "meeting_list.html" %}

{% block title %}
  PCBot: Meeting #{{ meeting.number }} - {{ meeting.start.strftime('%B %d') }}
{% endblock %}

{% block content %}
  <h3>Meeting #{{ meeting.number }} - {{ meeting.start.strftime('%B %d') }}</h3>
  <h4>Summary</h4>
  <table class="table table-striped table-condensed">
    <thead>
      <tr>
        <th>Talk</th>
        <th>Decision</th>
        <th>Yea</th>
        <th>Nay</th>
        <th>Abs</th>
      </tr>
    </thead>
    <tbody>
      {% for t in meeting.talks_decided %}
        <tr>
          <td>
            <a href="{{ url_for('talk_detail', n=t.talk_id) }}">
              #{{ t.talk_id }} - {{ t.title }}
            </a>
            <a href="{{ t.review_url }}" class="review-link" title="Proposal details" target="_blank">
                <i class="icon-share">&nbsp;</i>
            </a>
          </td>
          <td>{{ t.kittendome_result }}</td>
          {% with v = t.kittendome_votes %}
            <td>{{ v.yay|default("-") }}</td>
            <td>{{ v.nay|default("-") }}</td>
            <td>{{ v.abstain|default("-") }}</td>
          {% endwith %}
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <h4>Transcript</h4>
  <div class="transcript">
    {% for line in meeting.transcript %}
      <p class="speaker-{{ line.user }}">{{ line }}</p>
    {% endfor %}
  </div>
{% endblock %}

{% block bootstrap_js_bottom %}
  {{ super() }}
  <script type="text/javascript">
    $(function() { $(".review-link").tooltip(); });
  </script>
{% endblock %}
