{% extends "base.html" %}

{% block title %}
  PCBot: #{{ talk.talk_id }} - {{ talk.title }}
{% endblock %}

{% block content %}
    <h3>#{{ talk.talk_id }} - {{ talk.title }}</h3>
    <dl class="dl-horizontal">
      <dt>Details:</dt>
      <dd><a href="{{ talk.review_url }}"><i class="icon-share"></i> view proposal</a></dd>
      <dt>Status:</dt>
      <dd>{{ talk.get_status_display() }}</dd>
      <dt>K'dome votes:</dt>
      <dd>{{ talk.kittendome_votes|default("-") }}</dd>
    </dl>
    
    {% if talk.kittendome_transcript %}
      <h4>Transcripts</h4>
      <div class="transcript">
        {% for meeting in transcripts %}
          {% for line in meeting %}
            {% if loop.first %}
              <p class="meeting-date">{{ line.timestamp.strftime('%B %d, %Y') }}</p>
            {% endif %}
          
            <p class="speaker-{{ line.user }}">{{ line }}</p>
          {% endfor %}
          
          {% if not loop.last %}<hr />{% endif %}
        {% endfor %}
      </div>
    {% endif %}
    
{% endblock %}
