{% extends "base_sidebar.html" %}

{% block style %}
  {{ super() }}
  <style type="text/css">
    .talk-list thead th { border-top: 0px none; }
  </style>
{% endblock %}

{% block title %}PCbot: {{ title }}{% endblock %}

{% block sidebar %}
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">By status</li>
      <li{% if not current_status %} class="active"{% endif %}>
        <a href="{{ url_for('talk_list') }}">All</a>
      </li>
      {% for s, t in statuses|sort %}
        <li{% if s == current_status %} class="active"{% endif %}>
          <a href="{{ url_for('talks_by_status', status=s) }}">
            {{ t }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div><!--/.well -->
{% endblock %}

{% block content %}
  <h3>{{ title }}</h3>
  <table class="table table-striped table-condensed table-hover talk-list">
    <thead>
      <tr>
        <th rowspan=2>Talk</th>
        <th rowspan=2>Status</th>
        <th colspan=3>Kittendome</th>
        <th colspan=3>Thunderdome</th>
      </tr>
      <tr>
        <th>Yea</th>
        <th>Nay</th>
        <th>Abs</th>
        <th><i class="icon-ok"></i></th>
        <th><i class="icon-remove"></i></th>
      </tr>
    </thead>
    <tbody>
      {% for t in talks %}
        <tr>
          <td>{{ talklink(t) }}</td>
          <td>{{ t.decision }}</td>
          {% with v = t.kittendome_votes %}
            <td>{{ v.yay|default("-") }}</td>
            <td>{{ v.nay|default("-") }}</td>
            <td>{{ v.abstain|default("-") }}</td>
          {% endwith %}
          {% with v = t.thunderdome_votes %}
            <td>{{ v.supporters|default("-") }}</td>
            <td>{{ v.detractors|default("-") }}</td>
          {% endwith %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}


{% block bootstrap_js_bottom %}
  {{ super() }}
  <script type="text/javascript">
    $(function() { $(".review-link").tooltip(); });
  </script>
{% endblock %}
