{% extends "base_sidebar.html" %}

{% block title %}PCbot: {{ title }}{% endblock %}

{% block sidebar %}
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">By status</li>
      <li{% if not current_status %} class="active"{% endif %}>
        <a href="{{ url_for('talk_list') }}">All</a>
      </li>
      {% for s, t in statuses|sort %}
        <li{% if s == current_status %} class="active"{% endif %}>
          <a href="{{ url_for('talks_by_status', status=s) }}">
            {{ t }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div><!--/.well -->
{% endblock %}

{% block content %}
  <h3>{{ title }}</h3>
  <table class="table table-striped table-condensed table-hover">
    <thead>
      <tr>
        <th>Talk</th>
        <th>Status</th>
        <th>Yea</th>
        <th>Nay</th>
        <th>Abs</th>
      </tr>
    </thead>
    <tbody>
      {% for t in talks %}
        <tr>
          <td>
            <a href="{{ url_for('talk_detail', n=t.talk_id) }}">
              #{{ t.talk_id }} - {{ t.title }}
            </a>
            <a href="{{ t.review_url }}" class="review-link" title="Proposal details" target="_blank">
                <i class="icon-share">&nbsp;</i>
            </a>
          </td>
          <td>{{ t.decision }}</td>
          {% with v = t.kittendome_votes %}
            <td>{{ v.yay|default("-") }}</td>
            <td>{{ v.nay|default("-") }}</td>
            <td>{{ v.abstain|default("-") }}</td>
          {% endwith %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}


{% block bootstrap_js_bottom %}
  {{ super() }}
  <script type="text/javascript">
    $(function() { $(".review-link").tooltip(); });
  </script>
{% endblock %}
