{% extends "base.html" %}

{% block title %}
  PCBot: #{{ talk.talk_id }} - {{ talk.title }}
{% endblock %}

{% block content %}
    <h3>#{{ talk.talk_id }} - {{ talk.title }}</h3>
    <dl class="dl-horizontal">
      <dt>Details:</dt>
      <dd><a href="{{ talk.review_url }}" target="_blank"><i class="icon-share"></i> view proposal</a></dd>
      <dt>Status:</dt>
      <dd>{{ talk.get_status_display() }}</dd>
      <dt>K'dome votes:</dt>
      <dd>{{ talk.kittendome_votes|default("-", true) }}</dd>
      <dt>K'dome result:</dt>
      <dd>{{ talk.kittendome_decision|default("-", true) }}</dd>
      <dt>T'dome votes:</dd>
      <dd>
        {% if talk.thunderdome_votes %}
          {{ talk.thunderdome_votes.supporters }}/{{ talk.thunderdome_votes.attendees }}
          ({{ "%.0f"|format(t.thunderdome_votes.percent) }}%)
        {% else %}-{% endif %}
      </dd>
      <dt>T'dome result:</dd>
      <dd>{{ talk.thunderdome_result|default("-", true) }}</dt>
    </dl>

    {% if talk.notes %}
      <h4>Notes</h4>
      <ul class="notes">
        {% for note in talk.notes %}
          <li class="note">{{ note.text }} <span class="timestamp">– {{ note.timestamp.strftime('%B %e, %Y') }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if talk.kittendome_transcript %}
      <h4>Kittendome Transcripts</h4>
      <div class="transcript">
        {% for line in talk.kittendome_transcript %}
          <p class="speaker-{{ line.user }}">{{ line }}</p>
        {% endfor %}
      </div>
    {% endif %}

    {% if talk.thunderdome_transcript %}
      <h4>Thunderdome Transcripts</h4>
      <div class="transcript">
        {% for line in talk.thunderdome_transcript %}
          <p class="speaker-{{ line.user }}">{{ line }}</p>
        {% endfor %}
      </div>
    {% endif %}

{% endblock %}
