{% extends "base.html" %}

{% block style %}
  {{ super() }}
  <style type="text/css">
    #select-talks { table-layout: fixed; }
    #select-talks td { cursor: default; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
    #select-talks tr.selected td { background-color: #D9EDF7; }
    #tdome-groups h5 { margin:0; padding: 1px; font-size: 14px; }
    #tdome-groups>li { margin-bottom: 10px; }
    #tdome-groups .group-talk-list li { font-size: 12px; }
    #tdome-groups .group-talk-list button { margin: 0; padding: 0 2px 2px 2px;}
    #tdome-groups .group-talk-list button:hover { background-color: #f2dede; }
  </style>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="span7">
      <h3>Ungrouped talks <small>click to select</small></h3>
      <table class="table table-condensed table-striped" id="select-talks">
      </table>
    </div>

    <div class="span5">
      <h3>Groups <small>use <b>+</b> buttons to add selected talks to groups</small></h3>
      <p><button id="new-group" class="btn btn-block"><i class="icon-plus"></i> Add selected talks to new group</button></p>

      <ul class="thumbnails" id="tdome-groups">
      </ul>
    </div>
  </div>

{% endblock content %}

{% block bootstrap_js_bottom %}
  {{ super() }}
  <script type="text/javascript" src="{{ url_for('static', filename='json2-min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='underscore-min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='backbone-min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='tdome-groups.js') }}"></script>
  <script type="text/template" id="talk-row-template">
    <td>#<%= talk_id %>: <%= title %></td>
  </script>
  <script type="text/template" id="group-row-template">
      <div class="thumbnail clearfix">
        <div class="pull-right">
          <button class="btn btn-mini"><i class="icon-plus"></i></button>
          <button class="btn btn-mini"><i class="icon-remove"></i></button>
        </div>
        <h5><%= name ? name : "Group " + number %></h5>
        <table class="table table-condensed"></table>
      </div>
  </script>
{% endblock %}

