{% extends "base.html" %}

{% block style %}
  {{ super() }}
  <style type="text/css">
    input[type="checkbox"] { margin-top: -2px; }
  </style>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="span6">
      <h3>Ungrouped talks</h3>
      <table class="table table-condensed table-striped">
        <tbody>
          {% for t in ungrouped %}
            <tr>
              <td>
                <label>
                  <input type="checkbox" data-talkid="{{ t.talk_id }}">
                  <a href="{{ t.review_url }}">#{{ t.talk_id }}</a>: {{ t.title|truncate(55) }}
                </label>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="span6">
      <h3>Groups</h3>
    </div>
  </div>

{% endblock content %}

{% block bootstrap_js_bottom %}
  {{ super() }}
  <script type="text/javascript">
    $(function() {
        $("table input[type=checkbox]").change(function() {
            alert($(this).val());
        });
    });
  </script>
{% endblock %}

