{% extends "base.html" %}

{% block style %}
  {{ super() }}
  <style type="text/css">
    dd ul { margin-left: 0px; }
    dd ul li { list-style-type: none; }
  </style>
{% endblock %}

{% block title %}
  PCBot: #{{ group.number }} - {{ group.name }}
{% endblock %}

{% block content %}
    <h3>#{{ group.number }} - {{ group.name }}</h3>
    <ul>
      {% for t in group.talks %}
        <li>
          {{ talklink(t) }}
          {% if t.thunderdome_result == 'accepted' %}
            <span class="label label-success"><i class="icon-ok"></i> accepted</span>
          {% elif t.thunderdome_result == 'damaged' %}
            <span class="label label-warning"><i class="icon-minus"></i> damaged</span>
          {% elif t.thunderdome_result == 'rejected' %}
            <span class="label label-important"><i class="icon-remove"></i> rejected</span>
          {% endif %}
        </li>
      {% endfor %}
    </ul>

    {% if group.notes %}
      <h4>Notes</h4>
      <ul class="notes">
        {% for note in group.notes %}
          <li class="note">{{ note.text }} <span class="timestamp">– {{ note.timestamp.strftime('%B %e, %Y') }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if group.transcript %}
      <h4>Transcripts</h4>
      <div class="transcript">
        {% for line in group.transcript %}
          <p class="speaker-{{ line.user }}">{{ line }}</p>
        {% endfor %}
      </div>
    {% endif %}

{% endblock %}
