{% extends "base.html" %}

{% block style %}
  {{ super() }}
  <style type="text/css">
    dd ul { margin-left: 0px; }
    dd ul li { list-style-type: none; }
  </style>
{% endblock %}

{% block title %}
  PCBot: #{{ group.number }} - {{ group.name }}
{% endblock %}

{% block content %}
    <h3>#{{ group.number }} - {{ group.name }}</h3>
    <dl class="dl-horizontal">
      <dt>Talks:</dt>
      <dd>
        <ul>
          {% for t in group.talks %}
            <li>{{ talklink(t) }}</li>
          {% endfor %}
        </ul>
      </dd>
      <dt>Accepted:</dt>
      <dd>-</dd>
      <dt>Damaged:</dt>
      <dd>-</dd>
      <dt>Rejected:</dt>
      <dd>-</dd>
    </dl>

    {% if group.notes %}
      <h4>Notes</h4>
      <ul class="notes">
        {% for note in group.notes %}
          <li class="note">{{ note.text }} <span class="timestamp">– {{ note.timestamp.strftime('%B %e, %Y') }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if group.transcript %}
      <h4>Transcripts</h4>
      <div class="transcript">
        {% for meeting in transcripts %}
          {% for line in meeting %}
            {% if loop.first %}
              <p class="meeting-date">{{ line.timestamp.strftime('%B %e, %Y') }}</p>
            {% endif %}

            <p class="speaker-{{ line.user }}">{{ line }}</p>
          {% endfor %}

          {% if not loop.last %}<hr />{% endif %}
        {% endfor %}
      </div>
    {% endif %}

{% endblock %}
