{% extends "base_sidebar.html" %}

{% block style %}
  {{ super() }}
  <style type="text/css">
    table.group-table td { border-top: 0px none; }
    table.group-table td:nth-child(1) { padding-left: 20px; }
  </style>
{% endblock %}

{% block title %}PCbot: Thunderdome: {{ title }}{% endblock %}

{% block sidebar %}
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">By status</li>
      <li{% if title == "all groups" %} class="active"{% endif %}>
        <a href="{{ url_for('thunderdome_group_list') }}">All</a>
      </li>
      <li{% if title == "undecided groups" %} class="active"{% endif %}>
        <a href="{{ url_for('thunderdome_undecided_groups') }}">Undecided</a>
      </li>
      <li{% if title == "decided groups" %} class="active"{% endif %}>
        <a href="{{ url_for('thunderdome_decided_groups') }}">Decided</a>
      </li>
    </ul>
  </div><!--/.well -->
{% endblock %}

{% block content %}
  <h3>Thunderdome: {{ title }}</h3>
  <table class="table table-condensed group-table">
    <tbody>
      {% for g in groups %}
        <tr>
          <th colspan=2>
            <a href="{{ url_for('thunderdome_group_detail', g=g.number) }}">
              #{{ g.number }} - {{ g.name }}
            </a>
          </th>
        </tr>
        {% for t in g.talks %}
          <tr>
            <td>{{ talklink(t) }}</td>
            <td>
              {% if t.thunderdome_result == 'accepted' %}
                <span class="label label-success"><i class="icon-ok"></i> accepted</span>
              {% elif t.thunderdome_result == 'damaged' %}
                <span class="label label-warning"><i class="icon-minus"></i> damaged</span>
              {% elif t.thunderdome_result == 'rejected' %}
                <span class="label label-important"><i class="icon-remove"></i> rejected</span>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block bootstrap_js_bottom %}
  {{ super() }}
  <script type="text/javascript">
    $(function() { $(".review-link").tooltip(); });
  </script>
{% endblock %}
