{% extends "base_sidebar.html" %}

{% block style %}
  {{ super() }}
  <style type="text/css">
    table td ul { margin-left: 0px; }
    table td ul li { list-style-type: none; }
  </style>
{% endblock %}

{% block title %}PCbot: Thunderdome: {{ title }}{% endblock %}

{% block sidebar %}
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">By status</li>
      <li{% if title == "all groups" %} class="active"{% endif %}>
        <a href="{{ url_for('thunderdome_group_list') }}">All</a>
      </li>
      <li{% if title == "undecided groups" %} class="active"{% endif %}>
        <a href="{{ url_for('thunderdome_undecided_groups') }}">Undecided</a>
      </li>
      <li{% if title == "decided groups" %} class="active"{% endif %}>
        <a href="{{ url_for('thunderdome_decided_groups') }}">Decided</a>
      </li>
    </ul>
  </div><!--/.well -->
{% endblock %}

{% block content %}
  <h3>Thunderdome: {{ title }}</h3>
  <table class="table table-striped table-condensed table-hover">
    <thead>
      <tr>
        <th>Group</th>
        <th>Talks</th>
        <th><i class="icon-ok"></i></th>
        <th><i class="icon-minus"></i></th>
        <th><i class="icon-remove"></i></th>
      </tr>
    </thead>
    <tbody>
      {% for g in groups %}
        <tr>
          <td>
            <a href="{{ url_for('thunderdome_group_detail', g=g.number) }}">
              #{{ g.number }} - {{ g.name }}
            </a>
          </td>
          <td>
            <ul>
              {% for t in g.talks %}
                <li>{{ talklink(t) }}</li>
              {% endfor %}
            </ul>
          </td>
          {% with decisions = g.talks_by_decision()  %}
            <td>{% for t in decisions.accepted %}#{{ t }}{% if not loop.last %}, {% endif %}{% endfor %}</td>
            <td>{% for t in decisions.damaged %}#{{ t }}{% if not loop.last %}, {% endif %}{% endfor %}</td>
            <td>{% for t in decisions.rejected %}#{{ t }}{% if not loop.last %}, {% endif %}{% endfor %}</td>
          {% endwith %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}


{% block bootstrap_js_bottom %}
  {{ super() }}
  <script type="text/javascript">
    $(function() { $(".review-link").tooltip(); });
  </script>
{% endblock %}
